// Je change la couleur primaire

$theme-colors: (
  "primary": #696F80,
  "secondary": #49989A,
  "muted" : #B5B5B5,
  "light" : #EAEBED
);

$font-family-sans-serif: 'Open Sans';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1700px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1640px
);